{% extends 'main/layout.html' %}
{% block body %}
<div class="groupTitle">
  <div class="groupName">{{name}}</div>
<div class="upperWeek">
  <input type="radio" id="radio-1"  name="week" value= 1 checked="true">
  <label for="radio-1">Верхняя неделя</label>
  </div>
<div class="bottomWeek">
  <input type="radio" id="radio-2" name="week" value= 2>
  <label for="radio-2">Нижняя неделя</label>
  </div>
  <div class="expand">
  <input type="checkbox" id="expand" name="expand" >
  <label for="expand">Развернуть</label>
  </div>
</div>


<div id="lessonsTable">
</div>

{% endblock %}
{% block script %}
  <script>
    <!--подсвечивание полного названия при наведении на предмет-->
    $(function () {
    $('#subject').tooltip();
      $('[data-toggle="tooltip"]').tooltip();
    });
     <!--начальное создание таблицы при загрузке страницы-->
     generateTable({{up|safe}});

     <!--выбор верхней/нижней недели-->
     $("input[name='week']").change(function(){
        if ($(this).val() === '1'){
           generateTable({{up|safe}});
        }
        else{
           generateTable({{bot|safe}});
        }
        expand($("input[name='expand']").is(':checked'))
     });

   <!--кнопка отображения полного названия предмета-->
    $("input[name='expand']").change(function(){
          expand($(this).is(':checked'));
    });
    </script>
{% endblock %}